.product {
  height: 250px;
  width: 250px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
  object-fit: contain;
  max-height: 200px;
}
.product__container {
  position: relative;
  text-align: center;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}
